*

!/ags/*
!/ags/services/*
!/ags/assets/*
!/ags/config/*
!/ags/style/*
!/ags/style/notif/*
!/ags/style/panel/*
!/ags/style/quicksetting/*
!/ags/widgets/*
!/ags/widgets/applauncher/*
!/ags/widgets/bar/*
!/ags/widgets/bar/modules/*
!/ags/widgets/notifications/*
!/ags/widgets/quicksetting/*
!/ags/widgets/quicksetting/components/*

!/matugen/*
!/matugen/templates/*

!/sway/*
!/sway/modules/
